<div class="navbar-full">
    <img class="logo" src="assets/img/logo.png" alt="Logo huellitas felices">
    <h2>Huellitas Felices</h2>
    <nav class="navbar-options">
        <a (click)="scrollTo('welcome')">Inicio</a>
        <a (click)="scrollTo('services')">Sobre nosotros</a>
        <a (click)="scrollTo('contact')">Servicios</a>
        <a id="button-login" class="btn-login" href="/login">Iniciar sesión</a>
        <!--<div class="dropdown">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
              <path
                d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8m-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7" />
            </svg>
            <div class="dropdown-content">
                <a (click)="changeTheme('light')">Light</a>
                <a (click)="changeTheme('dark')">Dark</a>
                <a (click)="changeTheme('simple')">Simple</a>
            </div>
          </div> -->
        </nav>
</div>

<!--Imagen princpal de la landing page-->
<div class="container-landing-img">
    <img class="img-perritos-landing" src="assets/img/perritos-landing.jpg" alt="Perritos corriendo">
    <div class="text-landing">
        <h2>Cuidado completo para tu amigo peludo.<br> ¡Siempre aquí para
            ti y tu mascota!</h2>
    </div>

</div>

<section id="welcome" class="welcome">
    <div>
        <h1>¡Bienvenidos a Huellitas Felices!</h1>
        <p> Ubicados en Bogotá, Colombia, brindamos atención veterinaria de alta calidad a perros de todas las
            edades. Nuestro equipo es apasionado por las mascotas y hará todo lo posible para ayudar a tu amigo
            peludo a disfrutar de varios años felices y saludables a tu lado.
            <br><br>Estamos aquí para proporcionar la atención que tu
            compañero necesita durante todas las etapas de su vida.
        </p>
    </div>
    <img class="img-corgi-vet" src="assets/img/corgi-vet.jpg" alt="inu perrito">
</section>


<!-- Servicios cpn el carrusel-->
<section id="services" class="our-services">
    <h1>Nuestros servicios</h1>
    <div class="service">
        <img class="img-vetDog" src="assets/img/vet-dog.jpg" alt="Dog" id="service-image">
        <div class="slider-wrapper">
            <button class="slide-arrow" id="slide-arrow-prev">
                &#8249;
            </button>
            <button class="slide-arrow" id="slide-arrow-next">
                &#8250;
            </button>
            <ul class="slides-container" id="slides-container">
                <li class="slide">
                    <img src="assets/img/iconSlider1.png" alt="Bienestar">
                    <h2>
                        Bienestar y atención preventiva</h2>
                    <p>Nos aseguramos de que tu perro reciba los servicios que necesita para mantenerse saludable.
                    </p>
                </li>

                <li class="slide">
                    <img src="assets/img/iconSlider2.png" alt="dental">
                    <h2>
                        Dental
                    </h2>
                    <p>
                        El cuidado dental de rutina es tan importante para tu mascota como para ti y tu familia.
                    </p>
                </li>
                <li class="slide">
                    <img src="assets/img/iconSlider3.png" alt="Castración">
                    <h2>
                        Castración </h2>
                    <p>
                        Hacerlo puede mejorar su salud y protegerlos de enfermedades, incluidos ciertos tipos de
                        cáncer. </p>
                </li>
                <li class="slide">
                    <img src="assets/img/iconSlider4.png" alt="cirugía">
                    <h2>
                        Cirugía &
                        Ortopedia </h2>
                    <p>
                        Cuando tu mascota necesite cirugía en Bogotá, deja que nuestro compasivo equipo le ayude.
                    </p>
                </li>
                <li class="slide">
                    <img src="assets/img/iconSlider5.png" alt="Vacunar">

                    <h2>
                        Vacunas </h2>
                    <p>
                        Vacunar a tu mascota es una de las cosas más efectivas que puedes hacer para mantenerla
                        saludable. </p>
                </li>
                <li class="slide">
                    <img src="assets/img/iconSlider6.png" alt="emergencia">

                    <h2>
                        Emergencias &
                        Atención de urgencias </h2>
                    <p>
                        Si buscas un veterinario de emergencia o tu mascota requiere atención urgente,
                        podemos ayudarte.
                </li>
            </ul>
        </div>
    </div>
</section>
<!--
<section id="dudas" class="dudas">
    <h1 class="dudas-title">¿Tienes dudas? ¡Pregúntanos!</h1>
    <div class="dudas-div">
        <iframe class="lottie" src="https://lottie.host/embed/c4524b6f-721d-4954-b606-84c1eec0ce38/Ws742PIAL0.json"></iframe>

        <iframe
            src="https://www.chatbase.co/chatbot-iframe/cWm3VMISDTKp_QMPLR-ZF"
            title="Chatbot"
            width="30%"
            style="height: 10%; min-height: 30vw"
            frameborder="0"
        ></iframe>

            

    </div>
</section>
-->
<footer id="contact">
    <div class="hospital-hours">
        <h3>Horas de atención</h3>
        <p>Lunes a viernes de 8:00am a 10:00pm

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
                integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
                crossorigin="anonymous">

            <br>
        <h5>Todos los derechos reservados 2024 Huellitas Felices</h5>
    </div>


    <ul>
        <li>
            <a>
                <i class="fab fa-facebook-f icon"></i></a>
        </li>
        <li>
            <a><i class="fab fa-twitter icon"></i></a>
        </li>
        <li>
            <a><i class="fab fa-instagram icon"></i></a>
        </li>

    </ul>
    <div class="div-map">
        <!--<h3>Nuestra ubicación</h3>> -->
        <iframe class="mapa"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15907.159358032039!2d-74.06413031145766!3d4.631548435251929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a8193f1c9f%3A0xf93431640f134c07!2sPontificia%20Universidad%20Javeriana!5e0!3m2!1ses-419!2sco!4v1707863849983!5m2!1ses-419!2sco"
            width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</footer>
