/*------------------------------------------Registros---------------------------------------------------*/

.background-registro {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    background-color: var(--white-color);
}

.form-general-group {
    text-align: center;
    background-color: #ffd09691;
    border-radius: 1vw;
    margin: 0 27vw;
    padding: 2vw;
    padding-top: 1vw;
    backdrop-filter: blur(0.1vw);
}

.form-general-group h1 {
    font-size: 3vw;
    margin-bottom: 1vw;
    font-weight: 1100;
}

.form-group {
    padding: 1vw;
}

.form-group input {
    border-radius: 1vw;
    border-style: none;
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.651);
    font-family: 'Poppins', sans-serif;
}


.form-general-group button {
    position: relative;
    left: 15vw;
    transition: all .5s ease;
    color: #ee6060;
    border: 3px solid var(--second-color);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 1.2vw;
    background-color: rgba(255, 255, 255, 0.358);
    font-weight: bolder;
    padding: 0.8vw;
    outline: none;
    border-radius: 1vw;
}

.form-general-group button:hover {
    color: var(--white-color);
    background-color: var(--second-color);
}

#forms-container{
    margin-top: 9vw;
}

label{
    font-weight: bold;
    margin-right: 1vw;
}

.background {
    background-image: url("../../../assets/img/registro-cliente.jpg");
    margin-top: -2vw;
    padding-top: 2vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /* Set height to cover the entire viewport */
}
