

/*menu de navegación*/
.navbar-full {
    top: 0;
    position: fixed;
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    /*margen 0 arriba y abajo, auto derecha e izquierda*/
    margin: 0 auto;
    /*para que este por encima de otros elvwentos*/
    z-index: 9999;
    padding-left: 0.5vw;
}

.navbar-full h2 {
    font-size: 1.6vw;
    width: 4vw;
}

#button-huellitas h2,
.navbar-full h2 {
    font-family: 'Amatic SC', sans-serif;
}

.logo {
    width: auto;
    height: 5vw;
    margin: 0.5vw;
    margin-top: 1vw;
}

/**/

.background {
    background-image: url("../../../assets/img/loginBack.png");
    margin-top: -2vw;
    padding-top: 2vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    /* Set height to cover the entire viewport */
}


#forms-container {

    height: fit-content;
    padding: 2vw 10vw 3vw 10vw;
}


.tab-container {

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    text-align: center;
    background-color: #ff747477;
    margin: 0 27vw;
    border-radius: 1vw 1vw 0 0;
    margin-top: 8vw;
}

.tab-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.3vw;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;

}

.tab-button.selected {
    background-color: #ffffff77;
    border-radius: 1vw 1vw 0 0;
}

.form-general-group {
    text-align: center;
    background-color: #ffffff77;
    border-radius: 0 0 1vw 1vw;
    margin: 0 27vw;
    padding: 2vw;
    padding-top: 1vw;
    backdrop-filter: blur(0.1vw);
    font-weight: 700;
}

.form-general-group .input {
    border-radius: 1vw;
    border-style: none;
    padding: 0.5vw;
    background-color: rgba(253, 158, 158, 0.644);
    font-family: 'Poppins', sans-serif;
    border: 3px solid var(--second-color);
    font-size: 1.2vw;
    text-align: center;
    margin-bottom: 3vw;
}

span{
    padding-right: 0.2vw;
    display: flex;
    position: absolute;
    z-index: 9999;
    left: 62%;
}

.pwInput{
    border-radius: 1vw;
    border-style: none;
    background-color: rgba(253, 158, 158, 0.644);
    font-family: 'Poppins', sans-serif;
    border: 3px solid var(--second-color);
    font-size: 1.2vw;
    text-align: center;
    margin-bottom: 3vw;
    display:inline-flex;
    flex-direction: row;
    flex-direction: stretch;
    outline:#bb4b4b;
    width: 60%;
    align-items: center;
}

.pwInput input{
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    border: none;
    width: 100%;
    padding:0;
    margin: 0;
    border-radius: 1vw;
    font-size: 1.2vw;
    text-align: center;
    height: 2.8vw;
}

input{
    outline-color: #bb4b4b;
}


.form-general-group button {
    transition: all .5s ease;
    color: var(--white-color);
    border: 3px solid var(--second-color);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 1.2vw;
    background-color: rgba(253, 158, 158, 0.644);
    font-weight: 600;
    padding: 0.8vw;
    outline: none;
    border-radius: 1vw;
    margin-top: 10vw;
}

.form-general-group button:hover {
    color: var(--white-color);
    background-color: var(--second-color);
}

.flex-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
}

.flex-container button {
    margin-top: 2vw;
}