 <!--barra de navegación-->
 <div class="navbar-full">
    <img class="logo" src="assets/img/logo.png" alt="Logo huellitas felices">
    <h2>Huellitas Felices</h2>
</div>
<section class="background">
<div id="forms-container" class="form-general-group">
    <h1>Iniciar sesión</h1>
    <div class="flex-container">
        <label for="cedula">Cédula:</label>
        <input type="text" id="cedula" [(ngModel)]="cedula">
        <button (click)="login()">Iniciar sesión</button>
    </div>
</div>
</section>