<!--    <div>
    <h1>Lista de Clientes</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cédula</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.cedula }}</td>
          <td>{{ cliente.correo }}</td>
          <td>
            <button class="btn btn-primary" (click)="verDetalle(cliente.id)">Ver Detalle</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  -->