
#cliente-container {
    padding: 2vw;
    margin: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    margin-top: 3vw;
}
#actions_cliente{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: 0.1vw solid var(--second-color);
}



.add-btn {
    position: relative;
    transition: all .5s ease;
    color: var(--second-color);
    border: 0.2vw solid var(--second-color);
    text-align: center;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0.353);
    font-size: 1.2vw;
    padding: 0.8vw;
    outline: none;
    border-radius: 1vw;
    margin-bottom: 3vw;
}

.add-btn:hover {
    color: var(--white-color);
    background-color: var(--second-color);
}

.btn-detalle {
    border-width: 0.15vw;
    padding: 0.6vw;
    font-size: 1vw;
    position: unset;
    color: var(--fourth-color);
    border-color: hsl(19, 100%, 73%);
}

#todas-mascotas-title {
    margin: 0;
}

a:hover svg {
    fill: #970606; /* Cambia el color a rojo (#FF0000) al hacer hover */
  }
/* Heading */
#todas-mascotas-title,
#todas-clientes-title {
    text-align: center;
    padding-top: 2%;
}

#todos-clientes {
    margin-top: 3vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6%;

}

.btn-primary{
    margin-left: 1vw;
    color: var(--black-color);
    background-color: var(--second-color);
    border: none;
}
.btn-primary:hover{
    background-color: var(--fourth-color);
    color: var(--white-color);
}

.tabla-general {
    margin: 2vw 6vw 0 0vw;
    padding: 1.5vw;
    width: 100%;
    border-collapse: collapse;
    border: #ff8080 0.3vw solid;
    border-radius: 40px;
}

.tabla-general td {
    padding: 0.5vw;
    border: #ff8080 0.2vw solid;
}

.tabla-general th {
    background-color: #ff8080;
    color: var(--white-color);
    text-align: left;
    padding: 0.5vw;
    border: #ff8080 0.2vw solid;
}

#mascota-container-todas {
    padding: 1vw;
    margin: 0 1vw;
    width: 22vw;
    height: 18vw auto;
    border-radius: 1vw;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    margin-top: 3vw;
    margin-bottom: 0.5vw;
    text-align: center;
    transition: 0.3s;
}

#mascota-container-todas:hover{
    cursor: pointer;
    box-shadow: 0 0 1.5rem #f28d5ee8;
}


.mascotas-table{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    background-color: var(--);
}

.text-center{
    margin-top: 1vw;
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    width: 10vw;
}

.card-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.options{
    display: inline-flex;
    justify-content: space-between;
    margin-top : 1.5vw;

}

.card-title{
    background-color: #ff8080;
    border-radius: 40px;
    padding: 0.5vw 1vw;
    font-weight: 700;
    color: var(--background-color);
    width: 80%;
    height: 5vw;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;

}


.input-busqueda{
    border-radius: 1vw;
    border-style: none;
    background-color: #ff848418;
    padding: 0.5vw;
    height: 100%;
    border: #ff8080 0.2vw solid;
    width: 18vw;
    font-size: 1.2vw;
}