<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mostrar Todas Mascotas</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{/css/landing.css}" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet" />
</head>

<section id="todas-mascotas">
  <h1 id="todas-mascotas-title" class="texto-color-cambiar">Lista de Veterinarios</h1>
  <button class="add-btn" [routerLink]="['/veterinario/crear']">
    Agregar Veterinario
  </button>

  <section id="mascota-table">
    <div id="mascota-container-todas" *ngFor="let veterinario of veterinarios"
      [ngClass]="{'vet-inactive': !veterinario.estado}">
      <div class="mascota-info">
        <img class="img-mascota-todas" src="{{ veterinario.foto }}" alt="veterinario" />
        <div class="datos">
          <h2>{{ veterinario.nombre }}</h2>
          <p>Cédula: {{ veterinario.cedula }}</p>
          <p>Especialidad: {{ veterinario.especialidad }}</p>
          <p>Número de Atenciones: {{ veterinario.numAtenciones }}</p>
        </div>
      </div>
      <div class="mascota-actions" *ngIf="veterinario.estado; else deactivatedSection">
        <!-- Enlace para ver detalles del veterinario -->
        <a [routerLink]="['/veterinarios/detail', veterinario.id]">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffa074" class="bi bi-info-circle-fill"
            viewBox="0 0 16 16">
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
          </svg>
        </a>
        <a (click)="deactivateVeterinario(veterinario.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ff7474" class="bi bi-toggle-on" viewBox="0 0 16 16">
            <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"/>
          </svg>
        </a>
      </div>
      <ng-template #deactivatedSection>
        <div class="mascota-actions">
          <!-- Enlace para ver detalles del veterinario -->
          <a (click)="activateVeterinario(veterinario.id)" class="enabled-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ff7474" class="bi bi-toggle-off" viewBox="0 0 16 16">
              <path d="M11 4a4 4 0 0 1 0 8H8a5 5 0 0 0 2-4 5 5 0 0 0-2-4zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8M0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5"/>
            </svg>
          </a>
        </div>
      </ng-template>
    </div>
  </section>
</section>
