<section class="background">
    <div class="forms-container">
        <div class="form-general-group">
            <h1>Mascota</h1>
            <form class="submit" (submit)="onSubmit()">
                <div class="error-message" *ngIf="clienteNoExiste">El cliente no existe.</div>
                <!-- Campo del cliente, solo se muestra si no se está editando -->
                <div *ngIf="!mascota.id" class="form-group">
                    <label for="cedulaCliente">Cédula del Cliente:</label>
                    <input type="number" class="form-control" id="cedulaCliente" [(ngModel)]="cedulaCliente"
                        name="cedulaCliente" required>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" [(ngModel)]="mascota.nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="raza">Raza</label>
                    <input type="text" id="raza" [(ngModel)]="mascota.raza" name="raza" required>
                </div>
                <div class="form-group">
                    <label for="edad">Edad</label>
                    <input type="number" id="edad" [(ngModel)]="mascota.edad" name="edad" required>
                </div>
                <div class="form-group">
                    <label for="peso">Peso</label>
                    <input type="number" id="peso" [(ngModel)]="mascota.peso" name="peso" required>
                </div>
                <div class="form-group">
                    <label for="enfermedad">Enfermedad</label>
                    <input type="text" id="enfermedad" [(ngModel)]="mascota.enfermedad" name="enfermedad" required>
                </div>
                <div class="form-group">
                    <label for="foto">Foto</label>
                    <input type="url" id="foto" [(ngModel)]="mascota.foto" name="foto" required>
                </div>
                <button id="boton-submit" class="form-group" type="submit">Guardar</button>
            </form>
        </div>
    </div>


</section>