<section class="content-mascota-specific">
    <h1>Detalle de Veterinario</h1>
    <div id="mascota-container">
        <img class="img-mascota" src="{{veterinario.foto}}" alt="veterinario">
        <div id="informacionMascota">
            <h2>{{veterinario.nombre}}</h2>
            <p>Cédula: {{veterinario.cedula}}</p>
            <p>Especialidad: {{veterinario.especialidad}}</p>
            <p>Número de Atenciones: {{veterinario.numAtenciones}}</p>
            <a [routerLink]="['/veterinario/update/' + veterinario.id]">Modificar</a>
        </div>
    </div>
</section>
