
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet" />
</head>

<section class="content-mascota-specific">
    <h1 class="texto-color-cambiar">Detalle de Veterinario</h1>
    <div id="mascota-container">
        <img class="img-mascota" src="{{veterinario.foto}}" alt="veterinario">
        <div id="informacionMascota">
            <h2 class="texto-color-cambiar">{{veterinario.nombre}}</h2>
            <p class="texto-color-cambiar">Cédula: {{veterinario.cedula}}</p>
            <p class="texto-color-cambiar">Especialidad: {{veterinario.especialidad}}</p>
            <p class="texto-color-cambiar">Número de Atenciones: {{veterinario.numAtenciones}}</p>
            <button class="btn-primary" [routerLink]="['/veterinario/update/' + veterinario.id]">Modificar</button>
        </div>
    </div>
<section id="mascotas-table-vista" *ngIf="veterinario">
    <div *ngIf="mascotas" id="flex-container">
        <div *ngFor="let mascota of mascotas" class="mascotas-flex">
            <a style="text-decoration: none; color: black;" *ngIf="mascota.estado"
                [routerLink]="'/mascotas/detail/' + mascota.id">
                <div class="mascota-info info-vista">
                    <img class="mascota_cliente" src="{{ mascota.foto ? mascota.foto : '/img/bichon.png' }}"
                        alt="Foto de la mascota">
                    <h2>{{ mascota.nombre }}</h2>
                </div>
            </a>
            <div *ngIf="!mascota.estado" class="mascota-info info-vista specified-mascota-inactive">
                <img class="mascota_cliente" src="{{ mascota.foto ? mascota.foto : '/img/bichon.png' }}"
                    alt="Foto de la mascota">
                
            </div>
        </div>
    </div>
</section>





</section>
