.backgroud{
    background-color: var(--background-color);
}

.info-special{
    width: 70%;
    margin: 4vw 13vw;
    padding: 1.5vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    text-align: center;
    transition: 0.3s;
}

.info-special:hover {

    box-shadow: 0 0 1.5rem #f28d5ee8;
}
.info-special h2{
    text-align: center;
    height: fit-content;
    padding: 1vw;
    margin-top: 1vw;
}
.flex{
display: inline-flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
}
.tabla-general {
    padding: 1.5vw;
    width: 70%;
    border-collapse: collapse;
    border: #ff8080 1px solid; /* Añade el borde a la tabla */
    border-radius: 2vw; /* Añade el redondeo a los bordes exteriores */
    align-self: center;
    justify-content: center;
    text-align: center;
}

.tabla-general tr {
    padding: 0.5vw;
    background-color: var(--white-color);
    border: #ff8080 1px solid; /* Define el borde para las celdas */
   
}

.tabla-general th {
    text-align: center; 
    background-color: #ff8080;
    color: var(--white-color);
    padding: 0.5vw;
    width: 50%;
    border: #ff8080 1px solid;
}



#mascotas-table, #mascotas-table-vista{
    width: 100%;
    padding-left: 9%;
    padding-right: 5%;
    padding-top: 2%;    
    padding-bottom: 0em;
    align-items: center;

}

.lottie{
    border:none;
}


#mascotas-table-vista{
    width: 100%;
    margin: 1vw 5vw;
    padding: 1vw;
}
#todas-mascotas-title {
    text-align: center;
    padding-top: 10%;
    font-weight: 900;
    font-family: Poppins;
    text-decoration: underline;
    text-decoration-color: #ff8080 ;
    text-underline-position: under;
    line-height: 1.5;
}

#flex-container{
    margin: 2vw 12vw 0vw 8vw;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.mascota-info {
    width: 32vw;
    height: 25vw;
    display:inline-block;
    justify-content: space-evenly;
    padding-right: auto;
}

.info-vista {
    padding: 1.5vw 1vw;
    max-width: 32vw;
    max-height: 32vw;

    border-radius: 1vw;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    margin-top: 3vw;
    text-align: center;
    transition: 0.3s;

}
.info-vista:hover {

    box-shadow: 0 0 1.5rem #f28d5ee8;
}
.info-vista h2{
    text-align: center;
    height: fit-content;
    padding: 1vw;
    margin-top: 1vw;
}

ol{
    padding: 0;
    margin: 0;
    list-style-position: inside;
    display: flex;
    align-items: center;
    flex-direction: column;
}

ol li{
    padding: 0.5vw;
    margin: 0.5vw;
    font-size: 1.2vw;
    border-radius: 1vw;
}

#flex-container ol li:nth-child(1) {
    background-color: rgba(255, 126, 126, 0.507);
    width: 80%;
}

#flex-container ol li:nth-child(2) {
    background-color: rgba(251, 190, 141, 0.507);
    width: 70%;
}
#flex-container ol li:nth-child(3) {
    background-color: rgba(255, 214, 126, 0.507);
    width: 60%;
}

