<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mostrar Todas Mascotas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/landing.css}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet" />
</head>

<body>
    <section id="todas-mascotas">
        <h1 id="todas-mascotas-title">Información General</h1>
        <div id="flex-container">
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                        <iframe class="lottie" src="https://lottie.host/embed/5f99740b-4f2c-43bd-a698-1c8c2697acf9/MUJsXjzV02.json"></iframe> 
                        <p>Mascotas totales</p>
                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                        <iframe class="lottie" src="https://lottie.host/embed/24b347eb-ca64-4b68-aa65-46115065c2f7/yCFMBp6mQy.json"></iframe>
                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                       
                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
         
                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                  
                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                
                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
 
                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                   
                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
               
                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                    </div>
                </a>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>