<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mostrar Todas Mascotas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/landing.css}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet" />
</head>

<body>
    <section id="todas-mascotas">
        <h1 id="todas-mascotas-title">Información General</h1>
        <div id="flex-container">
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                        <iframe class="lottie"
                            src="https://lottie.host/embed/5f99740b-4f2c-43bd-a698-1c8c2697acf9/MUJsXjzV02.json"></iframe>
                        <h2>Total de Mascotas: {{ numMascotas }}</h2>

                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                        <iframe class="lottie"
                            src="https://lottie.host/embed/24b347eb-ca64-4b68-aa65-46115065c2f7/yCFMBp6mQy.json"></iframe>
                        <h2>Mascotas en Tratamiento: {{ totalMascotasTratamiento }}</h2>
                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                        <iframe class="lottie" src="https://lottie.host/embed/751290f5-c92b-4996-8370-e1ede1672a1d/UKZYMXsWVN.json"></iframe>
                        <h2>Veterinarios Activos: {{ totalVeterinariosActivos }}</h2>

                    </div>
                </a>
            </div>


            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                        <iframe class="lottie"
                        src="https://lottie.host/embed/0be3c0f9-3a83-4575-8de8-c44f344ce66c/G6gM3VXK19.json"></iframe>
                        <h2>Veterinarios inactivos: {{ totalVeterinariosInActivos }}</h2>
                    </div>
                </a>
            </div>
            
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                        <iframe class="lottie"
                            src="https://lottie.host/embed/f6afce49-ab45-4773-bddc-368e0858082f/dG9oXFWh5h.json"></iframe>
                        <h2>Ganancias Totales: ${{ gananciasTotales }}</h2>
                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                        <iframe class="lottie"
                            src="https://lottie.host/embed/9de68c9d-571a-43aa-adfa-0eeac4908732/OarmJsJq5e.json"></iframe>
                        <h2>Drogas Vendidas: {{ totalDrogasVendidas }}</h2>
                    </div>
                </a>
            </div>
            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">

                        <h2>Top 3 Drogas Más Vendidas:</h2>
                        <ol>
                            <li *ngFor="let droga of topDrogasVendidas">{{ droga.nombre }}</li>
                        </ol>
                    </div>
                </a>
            </div>

            <div class="mascotas-flex">
                <a style="text-decoration: none; color: black;">
                    <div class="mascota-info info-vista">
                        <iframe class ="lottie" src="https://lottie.host/embed/5f19d466-bf59-44dd-94a7-c772a0fad98f/MTbJpw9iKq.json"></iframe>
                        <h2 style="margin-top: -2.5vw !important;">Tratamientos Administrados en el Último Mes: {{ totalTratamientosUltimoMes }}</h2>
                    </div>
                </a>
            </div>

        </div>
        <div class="info-special">
            <a style="text-decoration: none; color: black;" class="flex">
                <h2>Cantidad de tratamientos por tipo de medicamento administrado en el último mes</h2>
                <table class="tabla-general">
                    <tr>    
                        <th>Medicamento</th>
                        <th>Cantidad de tratamientos</th>
                    </tr>
                    <tr *ngFor="let tratamiento of tratamientosPorDrogaUltimoMes">
                        <td>{{ tratamiento.droga }}</td>
                        <td>{{ tratamiento.cantidad }}</td>
                    </tr>
                </table>
            </a>
        </div>
    </section>
  
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>