<section id="todas-mascotas" *ngIf="mascota">
    <h1 id="todas-mascotas-title">Lista de tratamientos</h1>
    <section id="mascotas-table" *ngIf="mascota.tratamientos">
      <a [routerLink]="['/tratamiento/crear']"><button class="add-btn">Agregar Tratamiento</button></a>
      <br>
      <div id="mascota-container-todas" *ngFor="let tratamiento of mascota.tratamientos">
        <div class="mascota-info">
            <div class="datos">
            <p><strong>Droga:</strong> {{ tratamiento.droga?.nombre }}</p>
            <p><strong>Descripción:</strong> {{ tratamiento.descripcion }}</p>
            <p><strong>Fecha de Inicio:</strong> {{ tratamiento.fechaInicio }}</p>
            <p><strong>Fecha de Fin:</strong> {{ tratamiento.fechaFin }}</p>
            <p><strong>Cédula Veterinario:</strong> {{ tratamiento.veterinario?.cedula}}</p>
          </div>
        </div> 
        <div class="mascota-actions">
           <a (click)="deleteTratamiento(tratamiento.id)" style="color: #eb0000; font-size: 1.8vw; margin-top: 0.8vw;">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="red" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
              </svg>
              <button class="edit-btn" [routerLink]="['/tratamiento/update/', tratamiento.id, mascota.id ]">Editar</button>
            </a>
        </div>
      </div>
    </section>
  </section>
  
